<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Index</title>
        <style>
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 50vh;
            }
        </style>
    </head>
    <body>
    <div>
        <form action="/register" method="get">
            <button type="submit">Register</button>
        </form>

        <br/>

        <form action="/login" method="get">
            <button type="submit">Login</button>
        </form>
    </div>
    </body>
</html>