<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Users</title>
        <style>
            body{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-family: Arial, Helvetica, sans-serif;
            }

            table {
                border-collapse: collapse;
                width: 100%;
            }

            th, td {
                border: 1px solid #333333;
                padding: 8px;
            }

            th {
                background-color: #f2f2f2;
                color: #333333;
                text-align: left;
            }
        </style>
    </head>
    <body>
        <h1>List of Users</h1>

        <table>
            <thead>
            <tr>
                <th>Email</th>
                <th>Password</th>
                <th>Created At</th>
            </tr>
            </thead>
            <tbody>
            <% users.forEach((user) => { %>
                <tr>
                    <td><%= user.email %></td>
                    <td><%= user.password %></td>
                    <td><%= user.createdAt %></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
        <br/>
        <form action="/" method="get">
            <button type="submit">Index</button>
        </form>
    </body>
</html>